@font-face {
  font-family: 한나체;
  src:url(font/BMHANNA_11yrs_ttf.ttf);
}
@font-face {
  font-family: 한나체A;
  src:url(font/BMHANNAAir_ttf.ttf)
}
html{
  font-family: 한나체;
}
body{
  margin: 0;
}
.top{
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top:0px;
}
.topdiv{
  background-color: #2CC0BD;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}
.toptopic{
  color:white;
  font-size:1.1rem;
  padding-top:15px;
  padding-bottom: 15px;
}
.ui{
  padding:7.5px;
}
